{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Rock Routs</title>
    {% endif %}
</head>
<body>
    <header>
        <section class="headerGrid">
            <img src="{% static 'images/rockRoutsLogo.png' %}" alt="Rock climbing logo">
            <h1>Rock Routs</h1>
            <a href="{% url 'routList-home' %}">My Routs</a>
            <a href="{% url 'rout-create' %}">+ New Rout</a>
        </section>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>